body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* HEADER */
.header {
  background: #333;
  color: white;
  /* padding: 3px 15px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header ul li {
  cursor: pointer;
}

/* HERO */
.hero {
  background: #eee;
  padding: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-text h2 {
  margin-bottom: 10px;
}

.hero-text p {
  line-height: 1.6;
}

.hero-text button {
  background: #f7941d;
  border: none;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.hero-img img {
  width: 420px;
  border-radius: 5px;
}

/* CARDS */
.cards {
  padding: 40px;
  background: white;
}

.cards h2 {
  margin-bottom: 20px;
}

.card-box {
  display: flex;
  gap: 20px;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  width: 30%;
}

.card-img {
  height: 150px;
  background: #333;
  margin-bottom: 10px;
}

.card button {
  background: #f7941d;
  border: none;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

li {
  list-style: none;
}

.latest-posts .post {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.latest-posts img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
}



a:link {
  color: rgb(244, 244, 247);
  /* normal */
}

a:visited {
  color: purple;
  /* click ho chuka */
}

a:hover {
  color: rgb(248, 152, 8);
  /* mouse hover */
}

a:active {
  color: green;
  /* click karte waqt */
}
.abouts{
  width: 30%;
}

a {
  text-decoration: none;
  gap: 10px;
}

.social ul {
  align-items: center;          /* vertical center */
  padding: 0%;
}

.social ul li {
  display: flex;
  align-items: center;        /* vertical center */
  gap: 12px;                   /* icon aur text ke beech spacing */
  
}
.social img{
  width: 32%;
  height: 32%;
  object-fit: contain;
}
.Twitter{
  margin-right: 12%;
  margin-left: 0%;
}
.social ul li img{
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
}
.social img:hover{
  transform: scale(1.1);
}

  /* mobile reponsive */
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header ul {
    flex-direction: column;
    gap: 8px;
  }

  .hero {
    flex-direction: column;
    padding: 25px;
  }

  .hero-text {
    width: 100%;
    text-align: center;

  }

  .hero-text button {
    width: 90%;
    max-width: 420px;

  }

  .hero-img img {

    width: 420px;
    max-width: 420px;
    border-radius: 5px;
  }

  .cards {
    padding: 40px;
    background: rgb(246, 244, 244);
  }

  .cards h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .card-box {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .card-img {
    height: 150px;
    background: #333;
    margin-bottom: 10px;
  }

  .card button {
    background: #f7941d;
    border: none;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 100%;
  }

  li {
    list-style: none;
  }

  .latest-posts .post {
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .latest-posts img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .footer p {
    font-size: 14px;
    line-height: 1.5;
  }

  .latest-posts .post {
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .social ul li {
    justify-content: center;
    /* center horizontally */
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}